<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat Subrayada">
</head>
<body>
   <div class="container">
       <br>
       <!-- Add jumbotron to header -->
       <div class="jumbotron text-center"
        style="background-image: url(https://www.jpl.nasa.gov/images/mars2020/20180921/PIA22109-16.jpg); 
        background-position: center;">
            <h1 style="color:rgb(206, 46, 7); text-shadow: 2px 2px 2px black; font-family: Montserrat Subrayada;">Mission to Mars</h1>
            <p>
                <!-- Add a button to initiate scraping -->
                <a class="btn btn-primary btn-lg" href="/scrape" role="button" 
                style="background-color: rgb(206, 46, 7); border: black; text-shadow: 1px 1px 1px black">Scrape New Data</a>
            </p>                     
       </div>
       <!-- Add a section for Mars News -->
       <div class="row" id="mars-news">
           <div class="col-md-12">
               <div class="media">
                   <div class="media body">
                       <h2 style="font-family: Montserrat Subrayada;">Latest Mars News</h2>
                       <h4 class="media-heading">{{ mars.news_title }}</h4>
                       <p>{{ mars.news_paragraph }}</p>
                   </div>
               </div>
           </div>
       </div>
       <!-- Mars Featured Image -->
       <div class="row" id="mars-featured-image">
           <div class="col-md-8">
                <h2 style="font-family: Montserrat Subrayada;">Featured Mars Image</h2>
                <img src="{{ mars.featured_image }}" class="img-responsive img-rounded" alt="Responsive image"/>
          </div>
          <!-- Mars Facts -->
          <div class="col-md-4">
              <div class="row" id="mars-facts" class="table-striped">
                  <h4 style="font-family: Montserrat Subrayada;">Mars Facts</h4>
                  {{ mars.facts | safe }}
              </div>
          </div>
      </div>
      <!-- Full Res Mars Hemispheres -->
      <!-- Section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
          <h2 class="text-center" style="font-family: Montserrat Subrayada;">Mars Hemispheres</h2>
        </div>
        {% for hemisphere in mars.hemispheres %}
        <div class="col-md-6">
          <div class="thumbnail" style="background-image: url(https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA12066_hires.jpg);">
            <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="..." class="img-circle">
            <div class="caption" style="color:white;">
              <h3>{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
   </div> 
</body>
</html>